PORT=5000
CLIENT_URL=http://localhost:5173
TARGET_EMAIL=elangovanelango6383@gmail.com

# SMTP Configurations (Recommended: Gmail SMTP with App Password)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
EMAIL_USER=
EMAIL_PASS=
